<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PracticeSoftwareTesting" verbose="1" >
    <listeners>
        <listener class-name="utils.ListenerTest"></listener>
    </listeners>

    <test name="Sorting Test" preserve-order="true" enabled="true">
        <classes>
            <class name="com.practicesoftwaretesting.tests.SortingTest"></class>
        </classes>
    </test>
    <test name="Searching Products Test" preserve-order="true" enabled="true">
        <classes>
            <class name="com.practicesoftwaretesting.tests.SearchingProductTest"></class>
        </classes>
    </test>
    <test name="Filtering Products By Category Test" preserve-order="true" enabled="true">
        <classes>
            <class name="com.practicesoftwaretesting.tests.FilterProductsByCategoryTest"></class>
        </classes>
    </test>
    <test name="Price Range Test" preserve-order="true" enabled="true">
        <classes>
            <class name="com.practicesoftwaretesting.tests.PriceRangeTest"></class>
        </classes>
    </test>
    <test name="Cart Page Test" preserve-order="true" enabled="true">
        <classes>
            <class name="com.practicesoftwaretesting.tests.CartPageTest"></class>
        </classes>
    </test>
    <test name="Product Page Test" preserve-order="true" enabled="true">
        <classes>
            <class name="com.practicesoftwaretesting.tests.ProductPageTest"></class>
        </classes>
    </test>
    <test name="Registration Form Validations Test" preserve-order="true" enabled="true">
        <classes>
            <class name="com.practicesoftwaretesting.tests.RegistrationFormValidationsTest"></class>
        </classes>
    </test>
</suite>